<%= render "shared/error_messages" %>

<div class="comment__accordion p-comment__formBox">
  <p title="作成" class="p-comment__formTitle">コメントをかく<i class="bi bi-chevron-compact-down chevron"></i></p>
  <div>
    <%= form_for comment do |f| %>
      <%= f.hidden_field :board_id %>
      <%= f.hidden_field :user_id %>
      <div class="form-group">
        <%= f.label :name, '名前' %>
        <%= f.text_field :name, value: @current_user.name, class: 'form-control', placeholder: "10文字以内" %>
      </div>
      <div class="form-group">
        <%= f.label :comment, 'コメント' %>
        <%= f.text_area :comment, class: 'form-control', placeholder: "1000文字以内", rows: 4 %>
      </div>
      <div class="form-group">
        <%= f.label "あなたの共感度は５段階でいうと．．．" %>
        <div class="comment__evaluate">
          <% 5.times do |i|%>
            <%= f.radio_button :star, "#{ 5-i }" %>
            <%= f.label "star_#{ 5-i }", '★' %>
          <% end %>
        </div>
      </div>
      <%= f.submit '送信', class: 'btn btn-outline-success' %>
    <% end %>
  </div>
</div>
