<%= form_with model: user,html:{ class: 'needs-validation', novalidate: true } do |f| %>
  <div class="mb-3">
    <%= f.label :name, 'ユーザー名' %>
    <%= f.text_field :name, class: 'form-control', placeholder: '16文字以内の小文字英数字', required: true %>
  </div>
  <div class="mb-3">
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, class: 'form-control', placeholder: '8文字以上', required: true %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation, 'パスワード（確認）' %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: '8文字以上', required: true %>
  </div>
  <%= f.submit '作成', class: 'btn btn-outline-success font-weight-bold mb-3' %>
<% end %>
