<%= render 'shared/error_messages' %>

<%= form_with model: board do |f| %>
  <% board[:user_id] = @current_user.id %>
  <%= f.hidden_field :user_id %>
  <% board[:star_rate] = 0.0 %>
  <%= f.hidden_field :star_rate %>
  <div class="form-group">
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, class: 'form-control', placeholder: "10文字以内" %>
  </div>
  <div class="form-group">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, class: 'form-control', placeholder: "30文字以内" %>
  </div>
  <div class="form-group">
    <%= f.label :body, '本文' %>
    <%= f.text_area :body, class: 'form-control', placeholder: "1000文字以内", rows: 10 %>
  </div>
  <div class="form-group">
    <span>タグ</span>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class="custom-control custom-switch">
        <%= tag.check_box class: 'custom-control-input' %>
        <%= tag.label class: 'custom-control-label' %>
      </div>
    <% end %>
  </div>
  <%= f.submit '保存', class: 'btn btn-primary' %>
<% end %>
