<div class="d-flex align-items-center">
  <h1 class="boards__title">悩みごと</h1>
  <h6>（全<%= Board.count%>件）</h6>
  <img src="http://nx.myafi.net/wp-content/uploads/pin02.png" alt="×" class="boards__pin">
  <div class="ml-auto boards__linkBox">
    <%= link_to new_board_path do %>
      <i class="bi bi-plus-square plus"></i>
    <% end %>
  </div>
</div>
<%= form_with url: boards_path, method: :get, class: 'row justify-content-end boards__selectBox' do %>
  <%= select_tag :board_params,
                  options_for_select(
                  {
                    作成日時: 1,
                    更新日時: 2,
                    共感度: 3
                  },params[:board_params]),
                  {
                    prompt: '項目で並び替え',
                    class: 'custom-select custom-select-sm col-md-2 btn-light',
                    onchange: 'submit(this.form);'
                  }
  %>
  <%= select_tag :tag_id,
                  options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
                  {
                    prompt: 'タグで絞り込み',
                    class: 'custom-select custom-select-sm col-md-2 btn-light',
                    onchange: 'submit(this.form);'
                  }
  %>
<% end %>
<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>
<table class="table table-hover text-center boards__table">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>タイトル</th>
      <th>内容</th>
      <th>更新日時</th>
      <th>共感度</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each_with_index do |board, i| %>
      <tr board_path="boards/<%= board.id %>">
        <td><%= i + 1 %></td>
        <td class="font-weight-bold">
        <% if board.title.length < 11 %>
          <%= board.title %>
        <% else %>
          <%= board.title.slice(0, 10) %>...
        <% end %>
        </td>
        <td>
          <% if board.body.length < 16 %>
            <%= board.body %>
          <% else %>
            <%= board.body.slice(0, 15) %>...
          <% end %>
        </td>
        <td><%= board.updated_at.to_s(:table_time) %></td>
        <td>
          <% space = 0.2 %>
          <span
            class="star__rating" style="font-size: 25px;
            letter-spacing: <%= space %>em">
            ★★★★★
            <% if(board.star_rate != 0.0) %>
              <% scale = board.star_rate %>
              <span
                class="star__rating__after" style="width: calc( <%= scale %> * ( 1em - <%= space / 2 %>em ) + <%= scale.floor %> * <%= space %>em)">
                ★★★★★
              </span>
            <% end %>
          </span>
        </td>
        <td>
          <% if @current_user && board.user_id == @current_user.id %>
            <%= link_to board, method: :delete, data: { confirm: '削除してもよろしいですか?? （コメントも削除されます )' } do %>
              <i class="bi bi-trash-fill trash" title="削除"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @boards %>
