<div class="ml-auto mt-4 mb-4 text-right">
  <%= link_to '一覧に戻る', boards_path, class: 'btn btn-secondary btn-sm' %>
</div>

<% if flash[:notice] %>
  <div class="alert alert-primary"><%= flash[:notice] %></div>
<% end %>

<%= render @board %>

<% if @board.user_id != @current_user.id %>
  <%= render partial: 'comments/form', locals: { comment: @comment } %>
<% end %>

<div class="p-comment__list">
  <h4 class="p-comment__listTitle">みんなのコメント</h4>
  <% @board.comments.reverse_each.each_slice(2) do |comment_1, comment_2 | %>
    <div class="row">
      <%= render comment_1 %>
      <% if comment_2 != nil %>
        <%= render comment_2 %>
      <% end %>
    </div>
  <% end %>
</div>
