<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset='utf-8'>
    <title>掲示板(なやみのタネ)</title>
    <meta name="description" content="「悩み」だけを扱う掲示板！みんなで、悩みを共有しよー">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'header' %>
    <div class="container page__base">
      <%= yield %>
    </div>
  </body>
</html>
